RewriteEngine On

# 1. Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 2. Fix Meta Crawler Handshakes
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>